.title {
  color: hwb(253 9% 8%);
}

.label {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  color: hwb(253 9% 8%);
}
button {
  margin: 5px 10px;
  background-color: #6246edab;
  color: white;
  border-radius: 7px;
  border-color: #04c8f4ab;
}
button:hover {
  background-color: white;
  color: #03596cab;
  border-color: #03596cab;
}

.form {
  width: 300px;
  padding: 20px;
  display: block;
  border: 1px solid #6c29e1ab;
}
